/spotter-app/.expo
/spotter-app/node_modules
/spotter-app/yarn.lock
spotter-app/.DS_Store
.DS_Store
yarn-error.log


node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
**/yarn.lock

